.home-header {
  /* margin-left: 35%; */

  margin-left: auto;
  margin-right: auto;

  text-align: center;
  margin-top: 10%;
  /* width: 300px; */
}

.home-header > H5 {
  font-family: dongle;
  font-size: 3.5rem;
  color: #83f261;
}

.home-buttons-div {
  background-color: #83f261;
  margin-top: 50px;
  margin-left: 37%;
  width: 500px;
  height: 50px;
  display: flex;
  border-radius: 5px;
  /* align-items: center; */
  justify-content: space-evenly;
}

.home-buttons {
  color: #ffff;
  background-color: #83f261;
  font-weight: bold;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.home-main {
  display: flexbox;
  margin: 3rem;
  padding: 2rem;
  background: linear-gradient(
    90deg,
    rgba(190, 252, 101, 0.99) 0%,
    rgba(131, 242, 97, 0.99) 0.01%,
    rgba(195, 241, 99, 0.99) 51.56%,
    rgba(252, 240, 101, 0.99) 99.93%,
    rgba(159, 247, 99, 0.629685) 99.94%,
    rgba(131, 242, 97, 0.305956) 99.95%,
    rgba(251, 233, 11, 0.00515625) 99.96%,
    rgba(252, 240, 101, 0.99) 99.97%
  );
}
