.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 1.75rem;
  z-index: 1;

  display: flex;
  justify-content: space-between;

  /* Animation */
  transition-timing-function: ease-in; /* specifies a transition effect with a slow start */
  transition: all 0.5s;
}

/* .nav_black {
  background-color: rgba(0, 0, 0, 0.85);
} */

.nav-logo {
  position: fixed;
  left: 30px;
  width: 80px;
  object-fit: contain;
  /* filter: contrast(125%); */
}

.nav-logo:hover {
  cursor: pointer;
}

.nav-join,
.nav-login {
  color: #222;
  font-weight: bold;
  background: linear-gradient(
    90deg,
    rgba(190, 252, 101, 0.99) 0%,
    rgba(131, 242, 97, 0.99) 0.01%,
    rgba(195, 241, 99, 0.99) 51.56%,
    rgba(252, 240, 101, 0.99) 99.93%,
    rgba(159, 247, 99, 0.629685) 99.94%,
    rgba(131, 242, 97, 0.305956) 99.95%,
    rgba(251, 233, 11, 0.00515625) 99.96%,
    rgba(252, 240, 101, 0.99) 99.97%
  );
  border: none;
  border-radius: 3px;
  width: 80px;
  height: 30px;
  position: fixed;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* filter: contrast(125%); */
}

.nav-join {
  right: 40px;
}

.nav-login {
  right: 135px;
}
